.swiper-button-prev,
.swiper-button-next {
  color: #e25822 !important;
  width: 30px;
  height: 30px;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
}
