@import "tailwindcss";
@font-face {
  font-family: Orbitron;
  src: url("./assets/fonts/orbitron/Orbitron-Medium.ttf");
}
@font-face {
  font-family: Inter;
  src: url("./assets/fonts/inter/Inter_18pt-Medium.ttf");
}
h1,h2{
  font-family: Orbitron;
}
*{
  font-family: Inter;
}